###> ide ###
/.vscode
###< ide ###

###> symfony/framework-bundle ###
/.prod
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> custom ###
/*.zip
/*.sql
/*.bat
###< custom ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
